# Introduction to Pandas

In [ ]:
import pandas as pd

This is how you import data using Pandas

In [ ]:
df = pd.read_csv('top2018.csv')

#Exploring DataFrames

In [ ]:
df.head()

#Selecting Columns

In [ ]:
df['name']

In [ ]:
df[['name', 'artists']]

#Renaming Columns

In [ ]:
df.rename(columns={"artists":"artist"}, inplace=True)
df.head()

In [ ]:
df.describe()

#Sorting Data

In [ ]:
df.sort_values("danceability", ascending = False).head()

In [ ]:
df.sort_values('danceability', ascending = False).to_csv('most_danceable.csv')

#Running Functions on Columns

Functions:
.mean
.min()
.max()
.std()
.count()
.round()

In [ ]:
df['artist'].str.lower()

In [ ]:
def reformat(x):
  return x * 100

In [ ]:
df['liveness'].apply(reformat)

#Adding and Removing Columns

In [ ]:
df['mood_lifter'] = (df['danceability'] + df['energy']) / 10
df.head()

In [ ]:
#df.drop(columns=['mood_lifter'], inplace=True)
df.head()

#Selecting Rows

In [ ]:
df = df.rename(columns={'rank' : 'sp_rank'}) 
df[(df.duration_ms >= 200000) | (df.sp_rank < 50)]

In [ ]:
df.sort_values("artist").head()

In [ ]:
df[df.name.str.contains("love")]

In [ ]:
#df[df.danceability == df.danceability.max()]
df.rename(columns={"rank":"sp_rank"}, inplace=True)
df2 = df[['danceability', 'energy', 'speechiness']]

df2.plot(figsize=(18,5))

In [ ]:
df3 = df[(df.sp_rank > 50)]
df3.describe()

       danceability     energy  ...  time_signature    sp_rank
count     50.000000  50.000000  ...       50.000000   50.00000
mean       0.718880   0.642460  ...        4.000000   75.50000
std        0.151652   0.151062  ...        0.202031   14.57738
min        0.258000   0.296000  ...        3.000000   51.00000
25%        0.644250   0.546750  ...        4.000000   63.25000
50%        0.743500   0.670500  ...        4.000000   75.50000
75%        0.800500   0.763250  ...        4.000000   87.75000
max        0.964000   0.895000  ...        5.000000  100.00000

[8 rows x 14 columns]

KeyError: ignored